Add your import statements and the database connection statements in the below code block

Database file path = '/course/data/CSE-578/dinofunworld.db'

In [1]:
#your code here
import sqlite3
import math
db_filename = '/course/data/CSE-578/dinofunworld.db'
conn = sqlite3.connect(db_filename) 
c = conn.cursor()

**Question 1:** 

What is the most popular attraction to visit in the park?

**Note:** Your output should be the name of the attraction. Please print your output in the cell below.

In [2]:
### TEST FUNCTION: test_question1
# DO NOT REMOVE THE LINE ABOVE
# your code here
c.execute("SELECT attraction FROM checkin GROUP BY attraction ORDER BY COUNT(*) DESC LIMIT 1")
AttractionID=c.fetchone()[0]
c.execute("SELECT Name from attraction where AttractionID='{0}'".format(AttractionID))
ans=c.fetchone()[0]
print(ans)

Atmosfear

**Question 2:** 

What ride (note that not all attractions are rides) has the second longest average visit time?

**Note:** Your output should be the name of the ride. Please print your output in the cell below.

In [19]:
### TEST FUNCTION: test_question2
# DO NOT REMOVE THE LINE ABOVE
# your code here
def timeToSeconds(time):
    arr = time.split(":")
    return hours * 3600 + minutes * 60 + seconds
c.execute("SELECT attractionID from attraction WHERE Category LIKE '%ride%'")
ans=c.fetchall()
# To add all the attractions that are a ride
attractionIDs = []
answer = []
for i in ans:
    attractionIDs.append(i[0])
c.execute("SELECT timestamp, attraction FROM checkin WHERE attraction IN (SELECT attractionID from attraction WHERE Category LIKE '%ride%')")
t=fetchall()
print(t)

NameError: name 'fetchall' is not defined

**Question 3:** 

Which Fast Food offering in the park has the fewest visitors?

**Note:** Your output should be the name of the fast food offering. Please print your output in the cell below.

In [4]:
### TEST FUNCTION: test_question3
# DO NOT REMOVE THE LINE ABOVE
# your code here