Add your import statements and the database connection statements in the below code block

Database file path = '/course/data/CSE-578/dinofunworld.db'

In [3]:
#your code here
import sqlite3
db_filename = '/course/data/CSE-578/dinofunworld.db'
conn = sqlite3.connect(db_filename) 
c = conn.cursor()

**Question 1:** 

What is the most popular attraction to visit in the park?

**Note:** Your output should be the name of the attraction. Please print your output in the cell below.

In [4]:
### TEST FUNCTION: test_question1
# DO NOT REMOVE THE LINE ABOVE
# your code here
c.execute("SELECT attraction FROM checkin GROUP BY attraction ORDER BY COUNT(*) DESC LIMIT 1")
AttractionID=c.fetchone()[0]
c.execute("SELECT Name from attraction where AttractionID='{0}'".format(AttractionID))
ans=c.fetchone()[0]
print(ans)

Atmosfear

**Question 2:** 

What ride (note that not all attractions are rides) has the second longest average visit time?

**Note:** Your output should be the name of the ride. Please print your output in the cell below.

In [32]:
### TEST FUNCTION: test_question2
# DO NOT REMOVE THE LINE ABOVE
# your code here
def timeToSeconds(time):
    try:
        # When it is not none we calculate the value
        hours, minutes, seconds = [int(part) for part in time.split(":")]
        return hours * 3600 + minutes * 60 + seconds
    except ValueError:
        # We return 0 when the value is none
        return 0

# Getting all the attractionIDs that are a ride
c.execute("SELECT attractionID from attraction WHERE Category LIKE '%ride%'")
ans=c.fetchall()
# To add all the attractions that are a ride
attractionIDs = []
for i in ans:
    attractionIDs.append(i[0])

# We add all our results to the array
answer = []

# Result array where we are going to store the averages and their attractionID 
res = []

for i in attractionIDs:
    # We get all the durations for the attraction
    c.execute("SELECT duration from checkin where attraction='{}'".format(i))
    tot = 0 # Total time
    count = 0 # Count the number of different times
    temp = c.fetchall()
    for j in temp:
        tot += timeToSeconds(str(j[0]))
        count += 1
    avg = f"{tot / count:.2f}"
    res.append([avg, i]) # Appending the result to the array

# Sorting the array in ascending order
sorted_data = sorted(res, key=lambda x: float(x[0]))
answer = sorted_data[-2] # ['2554.47', 81] --> The result is the second last element
c.execute("SELECT Name from attraction where AttractionID='{}'".format(answer[1]))
final_answer = c.fetchone()
print(final_answer[0])

Flight of the Swingodon

**Question 3:** 

Which Fast Food offering in the park has the fewest visitors?

**Note:** Your output should be the name of the fast food offering. Please print your output in the cell below.

In [49]:
### TEST FUNCTION: test_question3
# DO NOT REMOVE THE LINE ABOVE
# your code here

# Getting all the attractionIDs that are a fast food restaurant
FoodAttractionQuery = "SELECT AttractionID from attraction WHERE Category='Food\r'"
c.execute("SELECT AttractionID from attraction WHERE Category='Food\r'")
a = c.fetchall()

# Array to store all the attractionIDs
AID = []
for i in a:
    AID.append(i[0])

# Query to count all of the checkins for each attractionID that are of the type fast food restaurant
c.execute("SELECT COUNT(*), attraction FROM checkin WHERE attraction IN ({}) GROUP BY attraction".format(FoodAttractionQuery))
test = c.fetchall()
sorted_data = sorted(test, key=lambda x: int(x[0]))
ansID = sorted_data[0][1] # 35

# Getting the name of the attractionID
c.execute("SELECT Name from attraction where AttractionID='{}'".format(ansID))
final_answer = c.fetchone()
print(final_answer[0])

Theresaur Food Stop